h2 {
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.team-logo {
    height: 5rem;
    width: 5rem;
}

.team-name {
    font-weight: bold;
    font-size: 1rem;
}

