body {
    width: 90%;
    margin: 0 auto;
}


h2 {
    margin-top: 8rem;
}

.main-news {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.main-news-img {
    width: 66.6%;
    height: 60vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5rem;
    width: 33.3%;
    height: 60vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    color: black;
    background-color: orange;
}

.main-news-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.other-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 5rem;
}

.noticia {
    height: 40vh;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.noticia-img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.noticia-title {
    font-weight: bold;
    margin-top: 0;
}
