<app-navbar></app-navbar>

<body>
    <div class="registration">
        <div class="form">
            <h2>Editar tu cuenta</h2>
    
            <form (ngSubmit)="editUser()" [formGroup]="formulario">
                <div class="form-group">
                    <label for="firstName"></label>Nombre:
                    <input type="text" class="form-control" formControlName="firstName">
                    <div>
                        <span class="error" *ngIf="formulario.controls['firstName'].getError('required')
                            && formulario.touched">
                            Este campo es requerido 
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['firstName'].getError('pattern')
                            && formulario.touched">
                            Solo se permiten letras en el Nombre 
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['firstName'].getError('minlength')
                            && formulario.touched">
                            El nombre debe contener 3 letras como mínimo  
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['firstName'].getError('maxlength')
                            && formulario.touched">
                            El nombre no puede contener más de 20 letras    
                        </span>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="lastName"></label>Apellido:
                    <input type="text" class="form-control" formControlName="lastName">
                    <div>
                        <span class="error" *ngIf="formulario.controls['lastName'].getError('required')
                            && formulario.touched">
                            Este campo es requerido 
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['lastName'].getError('pattern')
                            && formulario.touched">
                            Solo se permiten letras en el Apellido 
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['lastName'].getError('minlength')
                            && formulario.touched">
                            El apellido debe contener 2 letras como mínimo    
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['lastName'].getError('maxlength')
                            && formulario.touched">
                            El apellido no puede contener más de 20 letras    
                        </span>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="password"></label>Contraseña:
                    <input type="password" class="form-control" formControlName="password">
                    <div>
                        <span class="error" *ngIf="formulario.controls['password'].getError('required')
                            && formulario.touched">
                            Este campo es requerido  
                        </span>
                    </div>
                    <div>
                        <span class="error" *ngIf="formulario.controls['password'].getError('pattern')
                            && formulario.touched">
                            La contraseña debe tener entre 8 y 12 caracteres, una letra mayúscula, y dos números como mínimo 
                        </span>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="password">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" formControlName="confirmPassword">
                    <div *ngIf="!passwordMatch">
                        <span class="error">
                            Las contraseñas no coinciden  
                        </span>
                    </div>
                </div>
    
                <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid || !passwordMatch">Actualizar</button>
            </form>
        </div>
    </div>
</body>


