.match-header {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

#league-logo {
    height: 2rem;
    width: 2rem;
}

.match-result {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-logo {
    height: 6rem;
    width: 6rem;
}

.teams-name {
    font-size: 2rem;
}

#goals {
    font-size: 4rem;
}


.event {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event-icon {
    height: 2rem;
    width: 2rem;
}

.event-info {
    height: 10vh;
    width: 40vh;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.event-text {
    font-size: 1rem;
    margin: 0 1rem;
}

.event-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.event-away {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}