<app-navbar></app-navbar>
<div class="registration">
    <div class="form">
        <h2>Create your Account</h2>

        <form (ngSubmit)="saveUser()" [formGroup]="formulario">
            <div class="form-group">
                <label for="firstName"></label>First Name:
                <input type="text" class="form-control" formControlName="firstName">
                <div>
                    <span *ngIf="formulario.controls['firstName'].getError('required')
                        && formulario.touched">
                        This field is required 
                    </span>
                </div>
                <div>
                    <span *ngIf="formulario.controls['firstName'].getError('pattern')
                        && formulario.touched">
                        Only letters are allowed in the First Name 
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName"></label>Last Name:
                <input type="text" class="form-control" formControlName="lastName">
                <div>
                    <span *ngIf="formulario.controls['lastName'].getError('required')
                        && formulario.touched">
                        This field is required 
                    </span>
                </div>
                <div>
                    <span *ngIf="formulario.controls['lastName'].getError('pattern')
                        && formulario.touched">
                        Only letters are allowed in the Last Name 
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="dni"></label>DNI:
                <input type="text" class="form-control" formControlName="dni">
                <div>
                    <span *ngIf="formulario.controls['dni'].getError('required')
                        && formulario.touched">
                        This field is required 
                    </span>
                </div>
                <div>
                    <span *ngIf="formulario.controls['dni'].getError('minlength')
                        && formulario.touched">
                        DNI must have at least 8 numbers 
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="email"></label>Email:
                <input type="text" class="form-control" formControlName="email">
                <div>
                    <span *ngIf="formulario.controls['email'].getError('required')
                        && formulario.touched">
                        This field is required 
                    </span>
                </div>
                <div>
                    <span *ngIf="formulario.controls['email'].getError('email')
                        && formulario.touched">
                        Please enter a valid email address 
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="password"></label>Password:
                <input type="password" class="form-control" formControlName="password">
                <div>
                    <span *ngIf="formulario.controls['password'].getError('required')
                        && formulario.touched">
                        This field is required 
                    </span>
                </div>
                <div>
                    <span *ngIf="formulario.controls['password'].getError('pattern')
                        && formulario.touched">
                        Password must have at least 8 characters, one uppercase letter, and at least two numbers 
                    </span>
                </div>
            </div>

            <div>
                <label for="favoriteTeamId"></label>Choose your favorite team
                <input type="text" name="favoriteTeamId" placeholder="Search your team" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
                <button type="button" (click)="searchTeamsByName()">Search</button>
            </div>

            <div *ngIf="teams.length > 0">
                <div *ngFor="let team of teams.slice(0, 5)">
                    <a (click)="selectTeam(team.team.id) ; changeColor($event)">
                        <div class="team-container">
                            <img [src]="team.team.logo" alt="Team Logo">
                            <p><b>{{team.team.name}}</b></p>
                            <p>{{team.team.country}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div id="form-img">
        <h3>Join AppFootball today and never miss another goal</h3>
    </div>
</div>

