body {
    width: 90%;
    margin: 0 auto;
}

.registration {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2rem;
}

.form {
    height: 100vh;
    width: 45%;
    margin-right: 2rem;
}

.form-group {
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    margin-top: 2rem;
}

#favorite-team {
    margin-top: 2rem;
}

#favorite-team button {
    margin-left: 1rem;
}

.submit {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#form-img {
    height: 80vh;
    padding: 2rem;
    width: 45%;
    margin-left: 2rem;
    color: white;
    background: url("https://img.freepik.com/vector-gratis/fondo-patron-vibrante-lineas-diagonales_1017-12311.jpg?w=996&t=st=1699391136~exp=1699391736~hmac=228d18e38d1e37bf5918abef5dfbe1430f2c7e012b6bc17c81f89f78ad848b68");
}

#form-img h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: yellow;
    font-weight: bold;
}

.team-container {
    cursor: pointer;
    text-align: center;
    max-width: 100px;
    margin: 0 auto;
}

.team-container.clicked {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.team-container img {
    height: 4rem;
    width: 4rem;
}

label {
    font-weight: bold;
}

.error {
    color: red;
}