<div class="navbar">
    <div class="navbar-left">
        <a routerLink="/home">Home</a>
        <a routerLink="/matches">Matches</a>
        <a routerLink="/players">Players</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/leagues">Leagues</a>
    </div>
    <div class="navbar-right">
        <a routerLink="/search"><i class="bi bi-search"></i></a>
        <a [routerLink]="['/edit', user?.id]"><i class="bi bi-person"></i></a>
        <a (click)="onLogout()" class="logout">SIGN OUT</a>
    </div>
</div>
