body {
    width: 90%;
    margin: 8rem auto;
}

h2 {
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

img {
    height: 5rem;
    width: 5rem;
}