.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-left a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.navbar-right a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.bi-search {
    font-size: 1.5rem;
}

#sign-in-button {
    border: 1px solid black;
    padding: 1rem;
}

#join-button {
    background-color: black;
    color: white;
    padding: 1rem;
}