<div class="navbar">
    <div class="navbar-left">
        <a routerLink="/home">Home</a>
        <a routerLink="/matches">Matches</a>
        <a routerLink="/players">Players</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/leagues">Leagues</a>
    </div>
    <div class="navbar-right">
        <a routerLink="/search"><i class="bi bi-search"></i></a>
        <a routerLink="/login" id="sign-in-button">SIGN IN</a>
        <a routerLink="/register" id="join-button">JOIN</a>
    </div>
</div>

