<app-navbar></app-navbar>

<hr>

<p>PLAYER</p>
<div *ngFor="let p of player">
    <img [src]="p.strCutout" id="player-img"><span id="player-title">{{ p.strPlayer }}</span>

    <div class="player-info">
        <div id="player-stats">
            <p><b>KEY STATS</b></p>
            <p>Nationality: {{ p.strNationality}}</p>
            <p>Team: {{ p.strTeam}}</p>
            <p>Position: {{ p.strPosition}}</p>
            <p>Player Number: {{ p.strNumber}}</p>
            <p>Date of Born: {{ p.dateBorn}}</p>
            <p>Birth Location: {{ p.strBirthLocation}}</p>
            <p>Status: {{ p.strStatus}}</p>
            <a [href]="'https://' + p.strFacebook" target="_blank"><i class="bi bi-facebook facebook-icon"></i></a>
            <a [href]="'https://' + p.strTwitter" target="_blank"><i class="bi bi-twitter twitter-icon"></i></a>
            <a [href]="'https://' + p.strInstagram" target="_blank"><i class="bi bi-instagram instagram-icon"></i></a>
        </div>
    
        <div id="player-photos">
            <p><b>GALLERY OF PHOTOS</b></p>
            <div id="photos">
                <div>
                    <a [href]="p.strFanart1"><img [src]="p.strFanart1"></a>
                </div>
                <div>
                    <a [href]="p.strFanart2"><img [src]="p.strFanart2"></a>
                </div>
                <div>
                    <a [href]="p.strFanart3"><img [src]="p.strFanart3"></a>
                </div>
                <div>
                    <a [href]="p.strFanart4"><img [src]="p.strFanart4"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<h2 class="top-news">Top News</h2>
<div class="other-news">
    <div *ngFor="let article of news.slice(0, 8)">
        <div class="noticia">
            <a [href]="article.url">
                <img [src]="article.urlToImage" class="noticia-img">
                <p class="noticia-title">{{ article.title }}</p>
            </a>
        </div>
    </div>
</div>

