body {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
}

input {
    height: 2.5rem;
    width: 40%;
    margin-top: .5rem;
}

p {
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.item {
    margin-top: 1rem;
}

.item a {
    text-decoration: none;
    color: black;
}

.item-img {
    height: 5rem;
    width: 5rem;
}

.item-name {
    font-weight: bold;
    margin-left: .5rem;
}

hr {
    border: 1px solid rgb(206, 200, 200);
}

.top-news {
    margin-top: 2rem;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.noticia {
    height: 40vh;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.noticia-img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.noticia-title {
    font-weight: bold;
    margin-top: 0;
}
