<app-navbar></app-navbar>

<body>
    <h1>Búsqueda</h1>
    <form (ngSubmit)="searchAllByName()">
        <input type="text" name="searchQuery" [(ngModel)]="searchQuery"  placeholder="Escribe algo..."><br>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <p>Busca por equipos, competiciones y jugadores.</p>

    <div class="grid">
        <div>
            <div *ngIf="teams && teams.length > 0">
                <h2>Equipos</h2>
                <div *ngFor="let team of teams.slice(0, 10)" class="item">
                    <a [routerLink]="['/team', team.team.id]">
                        <img [src]="team.team.logo" class="item-img">
                        <span class="item-name">{{team.team.name}}</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div>
            <div *ngIf="leagues && leagues.length > 0">
                <h2>Competiciones</h2>
                <div *ngFor="let league of leagues.slice(0, 10)" class="item">
                    <a [routerLink]="['/league', league.league.id]">
                        <img [src]="league.league.logo" class="item-img">
                        <span class="item-name">{{league.league.name}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div *ngIf="players && players.length > 0">
                <h2>Jugadores</h2>
                <div *ngFor="let player of players.slice(0, 10)" class="item">
                    <a [routerLink]="['/player', player.strPlayer]">
                        <img *ngIf="player.strCutout" [src]="player.strCutout" class="item-img">
                        <img *ngIf="!player.strCutout" src="https://image-service.onefootball.com/transform?w=32&h=32&dpr=2&image=https%253A%252F%252Fimages.onefootball.com%252Fplayers%252F180%252F439285.jpg" class="item-img">
                        <span class="item-name">{{player.strPlayer}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="other-news">
        <div *ngIf="players && players.length > 0">
            <h2 class="top-news">Noticias relacionadas</h2>
            <div class="news-grid">
                <div *ngFor="let article of news.slice(0, 8)">
                    <div class="noticia">
                        <a [href]="article.url">
                            <img [src]="article.urlToImage" class="noticia-img">
                            <p class="noticia-title">{{ article.title }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



