@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Lato&family=Roboto:wght@300&family=Ubuntu:wght@700&display=swap');



html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

*, *:after, *:before {
    box-sizing: inherit;
}

button {
    margin-top: 1rem;
}


